.team {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    cursor: pointer;

    @media (min-width: 1400px) {
        width: 45px;
        height: 45px;
    }
}

.team-column {
    margin-bottom: 1rem;
    @media (min-width: 1280px) {
        margin-right: 3rem;
    }
}


.team-row {

}


.non-selected-team {
    opacity: 50%;
}
