:root {
    --color-light: white;
    --color-dark: black;
    --color-grey: grey;
    --color-river: #f32323;
    --color-afa: #01bcdb;
    --color-city: #7ab0e0;
    --primary-background: #170f1c;
    --secondary-background: #e5e5e5;
    --fields-background: #d8d8d8;
    --logos-color: #dcdcdc;
}
