.table-container {
    height: 100%;
    overflow-y: auto;

    .table-item {
        height: 25%;
        padding: 1rem 2rem;
        border-bottom: solid 1px #b8b6b6;
        min-height: 110px;
        justify-content: center;

        @media (min-width: 768px) {
            height: 18%;
            min-height: 70px;
            border-top: solid 1px #b8b6b6;
            display: flex;
        }

        @media screen and (min-width: 768px) and (min-height: 750px) {
            min-height:auto;
        }


        .table-competition{
            font-family: font-primary-bold;
            font-size: 0.8rem;
            margin: 0;

            @media (min-width: 768px) {
                font-size: 0.9rem;
            }
        }

        .table-match-detail{
            font-size: 0.8rem;
            opacity: 25%;
            margin: 0;
            @media (min-width: 768px) {
                font-size: 0.9rem;
            }
        }

    }
}


.table-mobile-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    span, p {
        margin: 0;
    }
}


.table-item-desktop-content{
    display: flex;
    width: 100%;
    max-width: 1600px;
}


.table-desktop-icon-container{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-desktop-items-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;


    .table-desktop-competition-container{
        display: flex;
        width: 25%;
    }
}


.table-desktop-competition-border {
    border-right: solid 3px black;
    margin-right: 2rem;
}