.team-result-container{
    display: flex;
    place-items: center;


    img {
        height: 40px;
        width: 40px;
    }

    .result-container {
        margin-left: 1rem;
        p{
            margin: 0;
            font-size: 0.7rem;

            @media (min-width: 414px) {
                font-size: 0.8rem;
            }

            
            @media (min-width: 768px) {
                font-size: 0.9rem;
            }
        }


        .result-content {
            display: flex;


            .team {
                width: 120px;
                font-family: font-primary-bold;
                @media (min-width: 414px) {
                    width: 150px;
                }
            }

            .score {
                font-family: font-primary-semibold;
            }


        }
    }
}