.footer-container {
    background-color: var(--primary-background);
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 375px;
}