.goals-container {
    position: relative;
    background-color: var(--secondary-background);
    color: var(--primary-background);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 540px;
}


.goals-teams-filters-container {
    width: 90%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        height: 30%;
        max-width: 60%;
    }


    .goals-teams-stats{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    
    
        .goals-team-stat {
            text-align: center;
            width: 30%;
        }
    
        .goals-team-separator {
            border: solid var(--fields-background) 1px;
            height: 100%;
            margin-top: 10px;
        }
    
    
        .goals-team-value {
            margin: 0;
            font-family: font-data;
            font-size: 4rem;
            line-height: 0.5;
            letter-spacing: -5px;
        }
    
    
    }
    
    .goals-teams-inputs{
        margin-top: 1rem;
        width: 100%;


        @media (min-width: 768px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            width: 80%;
        }


        .goals-select {
            width: 100%;
            background-color: var(--fields-background);
            border: none;
            margin-top: 10px;
            font-family: font-primary-regular;

            @media (min-width: 768px) {
                width: 35%;
            }
        }
    }
}


.goals-table-container {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: var(--table-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (min-width: 768px) {
        background-color: var(--secondary-background);
        height: 60%;
    }


    .goals-table-content{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        .goals-table-background-image{
            position: absolute;
            height: 80%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
        }

        .goals-table{
            position: absolute;
            height: 100%;
            width: 100%;
        }


        .table-desktop{
            display: none;

            @media (min-width: 768px) {
                display: block;
                height: 100%;
            }
        }

        
        .table-mobile{
            height: 100%;
            @media (min-width: 768px) {
                display: none;
            }
        }


    }



}


.goals-go-home-container {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
        height: 10%;
    }

    .goals-go-home-content {
        border: solid  rgb(151, 151, 151) 1px;
        border-radius: 5px;
        padding: 0px 20px;
        display: flex;
        justify-content: center;

        @media (min-width: 768px) {
            border: none;    
        }



        p {
            text-decoration: underline;
            color: rgb(151, 151, 151);
            cursor: pointer;
            height: 100%;
            place-content: center;
            margin: 0;
        }


    }
}
